<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<authorization>
			<allow users="teachers,coordinator"/>
			<deny users="students"/>
			<deny users="?"/>
		</authorization>
	</system.web>
	<location path="ImportarTareasDataSet.aspx">
		<system.web>
			<authorization>
				<allow users="coordinator"/>
				<deny users="teachers,students"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="ImportarTareasXMLDocument.aspx">
		<system.web>
			<authorization>
				<allow users="coordinator"/>
				<deny users="teachers,students"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="ExportarTareas.aspx">
		<system.web>
			<authorization>
				<allow users="coordinator"/>
				<deny users="teachers,students"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="VerEstudiantes.aspx">
		<system.web>
			<authorization>
				<allow verbs="GET" users="coordinator,admin,teachers"/>
				<allow verbs="POST" users="coordinator,admin"/>
				<deny verbs="POST" users="teachers"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
